@import "assets/styles/vars.less";
@icon-diameter: 24px;

.myhovercraft {
  .md-dialog-overlay {
    z-index: @dialog-backdrop-z-index;
  }
}
.hvr-app {

  .md-button .md-icon.md-icon-font.hvr-icon-blue {
    color: @blue-color;
    &--inactive {
      color: #999999;
    }
  }

  .md-button .md-icon.md-icon-font.hvr-icon-half::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: @icon-diameter solid fade(@white-color, 70%);
    border-right: @icon-diameter solid transparent;
  }

  .md-button .md-icon.md-icon-font.hvr-icon-red {
    color: @red-color;
  }

  .md-checkbox.md-theme-default.md-checked .md-checkbox-container {
    background-color: @blue-color;
    border-color: @blue-color;
  }

  .vue-tags-input {
    background: none;
    max-width: initial;

    &.ti-disabled {
      opacity: 0.4;
    }

    .ti-input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-color: @blue-color;
    }

    .ti-new-tag-input-wrapper {
      .ti-new-tag-input {
        background: none;
      }
    }

    .ti-tag {
      color: @blue-color;
      background: @white-color;
      border: 1px solid @blue-color;
      border-radius: 3px;

      .ti-icon-close {
        font-weight: bold;
      }

      .ti-content {
        cursor: pointer;
      }
    }
  }
}
